{% extends "layout.html" %} {% block title %} Room Allocation Admin {% endblock %} {%
block content %}

<div class="columns is-centered">
  <div class="column is-5">
    <h1 class="title is-3">Room Allocation Admin</h1>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-6">
    <div class="notification is-dark">
      <p>Room allocation is in progress.</p>
      <progress id="progressBar" class="progress is-info" value="0" max="100"
        >0%</progress
      >
    </div>
  </div>
</div>

<div class="columns is-centered">
  <!-- Set start time -->
  <div class="column is-3">
    <form class="form" method="POST">
      <div class="field">
        <label for="starttime" class="label">Start time</label>
        <div class="control">
          <input type="datetime-local" name="starttime" id="" />
        </div>
      </div>
      <div class="field">
        <label for="timeSeperation" class="label">Seperation between timeslots</label>
        <div class="control">
          <input type="number" name="timeSeperation" placeholder="Seperation in minutes" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          {% if info["startTimeSet"] == False %}
            <input type="submit" class="button is-success" name="submit" value = "Begin Time Setting">
          {% else %}
            <input type="submit" class="button is-danger" name="submit" value = "Re-Set Times">
          {% endif %}
        </div>
      </div>
      {% if info["mailOutDone"] == False %}
        <input onclick="window.location.href = '/admin/sendMail'" class="button is-success" value = "Send out mail">
      {% else %}
        <input onclick="window.location.href = '/admin/sendMail'" class="button is-danger" value = "Re-Send Mail">
      {% endif %}
    </form>
  </div>
  <!-- upload files -->
  <!-- Upload room: -->
  <!-- <div class="column is-3">
      <form class="form"
            name="upload"
            action="/admin/upload/rooms"
            method="post"
            enctype="multipart/form-data">
        <div class="field">
          <label for="uploadFiles" class="label">Upload ROOM List</label>
          <div class="control">
              <input
                type="file"
                id="fileUpload"
                name="file"
                accept=".csv"
              />
          </div>
        </div>
        <div class="field">
          <div class="control">
            {% if info["roomListUploaded"] == False %}
              <input
                class="button is-success"
                type="submit"
                name="submit"
                value="Upload File"
              />
            {% else %}
              <input
                class="button is-warning"
                type="submit"
                name="submit"
                value="Re-Upload File"
              />
            {% endif %}
          </div>
        </div>
      </form>
    </div> -->
    <div class="column is-3">
          <form class="form"
              name="upload"
              action="/admin/upload/people"
              method="post"
              enctype="multipart/form-data">
          <div class="field">
            <label for="uploadFiles" class="label">Upload STUDENT List</label>
            <div class="control">
                <input
                  type="file"
                  id="fileUpload"
                  name="file"
                  accept=".csv"
                />
            </div>
          </div>
          <div class="field">
            <div class="control">
              {% if info["studentListUploaded"] == False %}
                <input
                  class="button is-success"
                  type="submit"
                  name="submit"
                  value="Upload File"
                />
              {% else %}
                <input
                  class="button is-warning"
                  type="submit"
                  name="submit"
                  value="Re-Upload File"
                />
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    <!-- download data -->
    <div class="column is-3">
        <form class="form" method="POST">
          <div class="field">
            <label for="starttime" class="label">Download Allocation List</label>
          </div>
          <div class="field">
            <div class="control">
                <input type="submit" class="button is-success" name="submit" value = "Download File">
            </div>
          </div>
        </form>
      </div>
</div>

<div class="columns is-centered">
  <div class="column is-10">
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <thead>
        <th>zID</th>
        <th>Room Points</th>
        <th>Notification Time</th>
        <th>Emailed?</th>
        <th>Done Selection?</th>
        <th>Allocated Room</th>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td>{{ s["zID"] }}</td>
          <td>{{ s["roomPoints"] }}</td>
          <td>{{ s["startTime"] }}</td>
          {% if s['year'] < 2 %}
            <td>
              <span class="tag is-danger">Fresher No Email</span>
            </td>
            <td>
              N/A
            </td>
          {% else %}
            <!-- TODO: update these -->
            <td>
              {% if info["mailOutDone"] == False %}
                <span class="tag is-danger">No</span>
              {% else %}
                <span class="tag is-success">Yes</span>
              {% endif %}
            </td>
            {% if allocations[s["zID"]]['allocated'] == True %}
              <td>
                <span class="tag is-success">Yes</span>
              </td>
              <td>{{ allocations[s["zID"]]['room'] }}</td>
            {% else %}
              <td>
                  <span class="tag is-warning">No</span>
              </td>    
              <td></td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="columns is-centered">
    <!-- TODO: make clear db with confirmation  -->
  <!-- Clear DB -->
    <div class="column is-3">
        <div class="field">
        <label for="wipe" class="label">RESET DATABASE</label>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-danger" onclick="checkBeforeDBWipe()">Wipe Database</button>  
            </div>
        </div>
    </div>
  </div>

<script>
  // Check percentage allocated
  var maxSeconds = 500;
  var currSeconds = 0;
  var updateAllocateBar = setInterval(function() {
    fetch("/admin/allocated")
      .then(res => {
        return res.json();
      })
      .then(res => {
        console.log(res);
        document
          .getElementById("progressBar")
          .setAttribute("value", res["allocated"]);
      });

      currSeconds += 10
      if (currSeconds > maxSeconds) clearInterval(updateAllocateBar);

  }, 10000);

  function checkBeforeDBWipe(){
    if (confirm("Are you sure you want to wipe the Database. You will lose all allocation data.")) {
      window.location.href = '/admin/wipe/db?p={{dbWipePass}}';
    }
  }
</script>

{% endblock %}
