{% extends "layout.html" %} {% block title %} Select Room {% endblock %} {%
    block content %}
    
    <div class="columns is-centered" style="margin-top:40px;">
      <div class="column is-6">
        <h1 class="title is-4 is-centered">Select Rooms</h1>
        <br />
        <label class="label">DISCLAIMER:</label>
        <p>
          <i>
            By submitting the below form you acknowledge that you are not guaranteed your selected room.
            The Dean of the college reserves the right to make any changes to the room distribution without warning
            or the need of a reason.<br><br>
            
            The order of this allocation system has been calculated using
            your room points. You will be able to submit any time from your allocated start time.
            This means if you want to get a room near your friends, you can wait until you can both submit.
            <br>You are able to send your password to a friend to fill out this form for you if you
            will be unavailable, however the college accepts no responsibility for incorrect submissions.
            <br><br>
            <strong style="color: #ff0000;">BE ADVISED:</strong> You are only able to submit this form <strong style="color: #ff0000;">ONCE</strong>.
            Once you have clicked submit, you cannot change it. Choose wisely!
            <br>If you need any clarification on what a section means, click the title.
            <br> <strong>If you have any problems, please message Tom Wright or Rohan Maloney</strong>
          </i>
        </p>
      </div>
    </div>
    <hr>
    <div class="columns is-centered">
      <div class="column is-6">
        <form
          class="form"
          name="room_form"
          onsubmit="return validate_form()"
          method="POST"
        >
          <div class="field">
            <div class="columns is-centered">
            <div class="column is-6">
            <label for="zid" class="label">ZID:</label>
    
            <div class="control">
              <input
                type="text"
                id="zid"
                placeholder="Enter your zID"
                name="zid"
                oninput="zid_update(event)"
                class="input"
              />
            </div>
            </div>
              <div class="column is-6">
                <div onclick="showInfoPopup('startTimeInfo')">
                  <label for="zid" class="label">Your Start Time:</label>
                </div>
                <div class="control" id='userStartTime'></div>
              </div>
            </div>
          </div>
    
          <div class="field">
            <div onclick="showInfoPopup('passwordInfo')">
              <label for="code" class="label">Password:</label>
            </div>
            <div class="control">
              <input
                class="input"
                type="password"
                id="code"
                placeholder="Enter your password"
                name="code"
              />
            </div>
          </div>
    
          <div class="field">
            <div onclick="showInfoPopup('secureRoomInfo')">
              <label for="first_room" class="label">Secure a room:</label>
            </div>
            <div class="control">
              <input
                type="number"
                id="first_room"
                placeholder="Enter an avaliable room that you want"
                name="first_room"
                class="input"
              />
            </div>
          </div>
    
          <div onclick="showInfoPopup('otherPrefInfo')">
            <label class="label">Other preferences:</label>
          </div>
          <div class="control">
            <input
              type="number"
              id="pref1"
              placeholder="Enter First other preference"
              name="pref1"
              class="input"
              style="margin-top:10px;"
            />
          </div>
    
          <div class="control">
            <input
              type="number"
              id="pref2"
              placeholder="Enter Second other preference"
              name="pref2"
              class="input"
              style="margin-top:10px;"
            />
          </div>
    
          <div class="control">
            <input
              type="number"
              id="pref3"
              placeholder="Enter Third other preference"
              name="pref3"
              class="input"
              style="margin-top:10px;"
            />
          </div>
    
          <div class="control">
            <input
              type="number"
              id="pref4"
              placeholder="Enter Fourth other preference"
              name="pref4"
              class="input"
              style="margin-top:10px;"
            />
          </div>
    
          <div class="control">
            <input
              type="number"
              id="pref5"
              placeholder="Enter Fifth other preference"
              name="pref5"
              class="input"
              style="margin-top:10px;"
            />
          </div>
          <div onclick="showInfoPopup('otherPrefInfo')">
            <label class="label">Enter any other information:</label>
          </div>
          <div class="control">
            <input
              type="text"
              id="submissionNotes"
              placeholder="Enter any other information you want. Eg, want to be with friends"
              name="submissionNotes"
              class="input"
              style="margin-top:10px;"
            />
          </div>
          
          <div class="control">
            <input
              class="button is-info"
              type="submit"
              name="submit"
              style="margin-top:10px;"
              value="Submit my Preferences"
            />
          </div>
        </form>
      </div>
    </div>
    
    <h2 class="title is-5">Browse Rooms:</h2>
    <div class="tab">
      {% for floor, rooms in data["MALE"].items() %}
    
      <button
        id="floor{{ floor }}"
        class="tablinks unsure"
        onclick="viewFloor(event, {{ floor }})"
        value="Floor"
      >
        Floor {{ floor }}
      </button>
    
      {% endfor %}
    </div>
    
    {% for floor, rooms in data["MALE"].items() %}
    
    <div id="{{ floor }}" class="tabcontent">
      <div class="row">
        <div class="column">
          <table>
            {% for room, deets in data["MALE"][floor].items() %}
            <tr id="{{ room }}" class="unsure">
              <td name="roonum">
                {{ room }} {{ data["MALE"][floor][room]["roomFacts"] }}
              </td>
              <td name="deets"></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="vl"></div>
        <div class="column">
          <img src="/static/FloorPlans/Floor{{ floor }}.jpg" />
        </div>
      </div>
    </div>
    
    {% endfor %}

    
    <script type="text/javascript">
      var True = true;
      var False = false;
      var data = {{data|safe}};
      //console.log(data);
      var display_floor = 1;
      var gender = "";
      function get_gender(zid) {
          return data["ZIDS"][zid]["gender"];
      }
      function get_start_time(zid) {
        if (valid_zid(zid)){
            return data["ZIDS"][zid]["startDate"]
          } else{
            return ""
          }
      }
      function get_rooms(zid) {
          var gender = get_gender(zid);
          if (gender == "m") {
              return data["MALE"]
          } else {
              return data["FEMALE"]
          }
      }
      function update_rooms(zid) {
          var rooms = get_rooms(zid);
          for (var floor in rooms) {
              var count = 0;
              for (var room in rooms[floor]) {
                  room_ele = document.getElementById(room);
                  room_ele.className = "";
                  room_ele.children[1].innerHTML = rooms[floor][room]["reason"];
                  if (rooms[floor][room]["available"]) {
                      count++;
                      room_ele.className = "available";
                  } else {
                      room_ele.className = "unavailable";
                  }
              }
              floor = document.getElementById("floor" + floor);
              floor.className = "";
              if (count > 0) {
                  floor.className = "available";
              } else {
                  floor.className = "unavailable";
              }
          }
      }
      function valid_zid(zid) {
          return zid in data["ZIDS"]
      }
      function zid_update(evt) {
        var zid = evt.currentTarget.value
        document.getElementById('userStartTime').innerHTML = get_start_time(zid)
          if (!valid_zid(zid)) {
              evt.currentTarget.style.color = "red"
          } else {
              evt.currentTarget.style.color = "black"
              update_rooms(zid);
          }
      }
      function removeElement(elementId) {
          // Removes an element from the document
          var element = document.getElementById(elementId);
          element.parentNode.removeChild(element);
      }

      function showInfoPopup(infoSection){
        var message = ''
        if (infoSection == "startTimeInfo"){
          message = "Once you have put in your zID, you will be able to see the time from which you can submit your room preferences. It will not work before then."
        }else if (infoSection == "passwordInfo"){
          message = "Please enter your password that was attached in your email."
        }else if (infoSection == "secureRoomInfo"){
          message = "This room has to be one which is currently avaliable (see the list below). THIS ROOM IS NOT A GUARANTEE"
        }else if (infoSection == "otherPrefInfo"){
          message = "Please enter any other rooms you would be happy with if a change happened. You should fill them all out, or you might get a room you didn't want."
        }else if (infoSection == "otherInfo"){
          message = "Please put any other information here, Eg I want to be with ABC friend. This information will only be used if your room needs changing"
        }

        alert(message)
      }

      function validate_form(){
          //alert("We still need to write the validate form function!")
          // TODO: validate the form before send
      }
      function viewFloor(evt, floor) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(floor).style.display = "block";
          evt.currentTarget.className += " active"
      }
    </script>
    {% endblock %}
    